body { 
    background:floralwhite;}
h1,h2,footer { 
    padding:0.2em; 
    text-align:center; 
}
.srodek { 
    text-align:center;
    margin:auto;
    width:20%; 
}
nav{ 
    float:left; 
    width:100%; 
}
nav, footer {
    background: #45525a; 
    color:#ffe9ba; 
    border-radius:10px;
}
nav a {
    float:left;
    display:block;
    width:23%;
    padding:1%;
    font-size:110%;
    color:#ffe9ba;
    text-align:center;
}
section { 
    clear:both;
}
img { max-width: 100%; 
      height: auto; 
      border-radius:10px; 
}
.slajd {
    float:left;
    display:block;
    width:13%;
    text-align:center;
    border-radius:10px;
    background:#ffe9ba;
    padding:1% 0.5%;
    margin:1%;
}
.slajd:hover { 
    background:#45525a; 
}
footer { 
    clear:both; 
}
.galeria{ 
    margin:auto; 
    width:90%;
}

